doctype html
html
  head
    meta(charset="utf-8")
    meta('http-equiv'="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,viewport-fit=cover")
    meta(name="format-detection" content="telephone=no")
    title let me out
    meta(name="renderer" content="webkit")
    meta(http-equiv="Cache-Control" content="no-siteapp")
  body#app
    h1 本次启动页面：
    ul
      - for (let pageName of htmlWebpackPlugin.options.pages)
        li
          a(href=`http://localhost:8000/${pageName}.html`) #{pageName.replace('BKH5-', '')}
    script.
      if (new Date().getHours() > 20) {
        document.bgColor = '#000'
        document.fgColor = '#fff'
        document.querySelector('a').style = 'color: #fff'
      }

